# EAS Build ignore configuration
# Mirror of .gitignore but including .env to ensure environment variables are available on EAS builds

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# (Not ignoring .env so EAS uploads it securely for cloud builds)
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
